body {
  background-image: url("./img/map2.jpg");
  background-size: 100%;
}

.containerP{
  width: 100%;
  height: calc(100vh);
  color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  
}

.containerForm{
  width: 30%;
  background-color: rgb(209, 237, 237);
  display: flex;
  justify-content: center;
  margin-top: 12%;
  padding: 10px;
  border-radius: 10px;
}

input {
  line-height: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
}

.btn{
  background-color: white;
  cursor: pointer;
  padding: 0, 20 px;
  transition: all 0.5;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.btn:hover{
  background-color: white;
  transform: scale(1.1);
}
.btnEdit{
  background-color: rgb(182, 234, 234);
  color: black;
  margin-right: 10px;
  border-color: transparent;
}
.btnEdit:hover{
  background-color: rgb(233, 220, 233);
  transform: scale(1.1);
}
.btnDelete{
  background-color:rgb(233, 220, 233);
  color: black;
  border-color: transparent;
}

.btnDelete:hover{
  background-color:rgb(182, 234, 234);
  transform: scale(1.1)
}
.containerInfo{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2%;
  
}
.containerTask{
  width: 80%;
  margin: 5px;
  padding: 5px;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  
}
.todoTask{
  margin-right: 20px;
}
.spanSubray{
  text-decoration:line-through;
}
